<div class="container site-section">
    <div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 mx-auto text-center">
                    <h1 class="text-white">Team Info</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="widget-next-match">
                <div class="widget-title">
                  <h3>Team Info</h3>
                </div>
                <div class="widget-body mb-3">
                  <div class="widget-vs">
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                      <div class="team-1 text-center">
                        <img src="assets/images/logo_1.png" alt="Image">
                        <h3>{{team.name}}</h3>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
    
                <div class="text-center widget-vs-contents mb-4">
                  <h4>{{team.stadium}}</h4>
                  <p class="mb-5">
                    <span class="d-block">{{team.owner}}</span>
                    
                    <strong class="text-primary">{{team.foundation}}</strong>
                  </p>
    
                  <div id="date-countdown2" class="pb-1"></div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    
</div>