<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Search Team by name</h1>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form #searchTeamForm="ngForm" (ngSubmit)="searchTeam()">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="team.name" name="name"
                            placeholder="insert name of team">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Search">
                    </div>
                </form>
            </div>
        </div>
        <div>
            <th>Team Name: {{findedTeam.name}}</th>
            <td>Team owner: {{findedTeam.owner}}</td>
            <td>Team foundation:{{findedTeam.foundation}}</td>
            <td>{{searchTeamStadium(findedTeam.stadiumId)?.name}}</td>
            <td>{{searchTeamStadium(findedTeam.stadiumId)?.city}}</td>
            <td>{{searchTeamStadium(findedTeam.stadiumId)?.capacity}}</td>
            <div>
                <p *ngFor="let p of searchTeamPlayers(findedTeam.id)">
                    {{p.name}} {{p.position}}
                </p>
            </div>


        </div>
        <div *ngIf="findedTeam?.length ==0"> No founded Team !!!</div>
    </div>
</div>