<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Search Matches</h1>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form #searchForm ="ngForm" (ngSubmit)="searchMatches()">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="match.scoreOne" name="scoreOne"
                            placeholder="Score One ">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="match.scoreTwo" name="scoreTwo"
                            placeholder="Score Two">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Search">
                    </div>
                </form>
            </div>
        </div>
        <div *ngFor ="let m of findedMatches">
            <app-result [resultInput]="m"></app-result>
        </div>
        <div *ngIf="findedMatches?.length ==0"> No founded matches !!!</div>
    </div>
</div>