<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Edit Store</h1>

      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="storeForm">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="adress" placeholder="Adress">
          </div>
          <div class="form-group">
            <input type="submit" (click)="editStore()" class="btn btn-primary py-3 px-5" value="Edit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>