<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">Password</th> -->
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th >{{user._id}}</th>
        <th >{{user.firstName}}</th>
        <th >{{user.lastName}}</th>
        <td>{{user.email}}</td>
        <!-- <td>{{user.password}}</td> -->
        <td>{{user.phone}}</td>
        <td>{{user.role}}</td>
        <td><button class="btn btn-info" (click)="goToProfile(user._id)">Profile</button>
          <button class="btn btn-warning" (click)="goToEditUser(user._id)">Edit</button>
      </tr>
    </tbody>
  </table>
